<!DOCTYPE html>
<html layout:decorator="layout" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${header}"></title>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>
<body>
<section layout:fragment="content">
    <h1>Nowe ogłoszenie</h1>
    <form class="form-horizontal" method="POST" th:action="${action}" th:object="${offer}">
        <div class="form-group">
            <label class="col-sm-2 control-label">Tytuł:</label>
            <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{title}')?'has-error':''}">
                <input class="form-control" th:field="*{title}" type="text"/>
                <label style="color: red;" th:if="${#fields.hasErrors('*{year}')}">Proszę podać tytuł (min. 5 znakow,
                    maks. 255)</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Rok wprowadzenia na rynek:</label>
            <div class="col-sm-4">
                <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{year}')?'has-error':''}">
                    <input class="form-control" th:field="*{year}" type="number"/>
                    <label style="color: red;" th:if="${#fields.hasErrors('*{year}')}">Proszę podać poprawny rok (min.
                        2000)</label>
                </div>
            </div>
            <label class="col-sm-2 control-label">Stan:</label>
            <div class="col-sm-4">
                <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{condition}')?'has-error':''}">
                    <select class="form-control" th:field="*{condition}">
                        <option value="doskonały">doskonały</option>
                        <option value="bardzo dobry">bardzo dobry</option>
                        <option value="dobry">dobry</option>
                        <option value="poprawny">poprawny</option>
                    </select>
                    <label style="color: red;" th:if="${#fields.hasErrors('*{condition}')}">Proszę podać poprawny
                        stan</label>
                </div>
            </div>
        </div>
        <div class="form-group">

            <label class="col-sm-2 control-label">Model:</label>
            <div class="col-sm-4">
                <select class="form-control" th:field="*{model.id}">
                    <option th:each="cm : ${itemModels}" th:text="${cm.name}"
                            th:value="${cm.id}">
                    </option>
                </select>
            </div>

            <label class="col-sm-2 control-label">Cena:</label>
            <div class="col-sm-4">
                <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{price}')?'has-error':''}">
                    <input class="form-control" th:field="*{price}" type="number"/>
                    <label style="color: red;" th:if="${#fields.hasErrors('*{price}')}">Proszę podać poprawną cenę</label>
                </div>
            </div>


            </div>



            <div class="form-group">
            <label class="col-sm-2 control-label">Rozmiar:</label>
            <div class="col-sm-4">
                <select class="form-control" th:field="*{model.sizing.id}">
                    <option th:each="cm : ${sizingTypes}" th:text="${cm.size}"
                            th:value="${cm.id}">
                    </option>
                </select>
            </div>
            <label class="col-sm-2 control-label">Producent:</label>

                <div class="col-sm-4">
                <select class="form-control" th:field="*{model.manufacturer.id}">
                    <option th:each="cm : ${itemManufacturers}" th:text="${cm.name}"
                            th:value="${cm.id}">
                    </option>
                </select>

                </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Opis:</label>
            <div class="col-sm-10">
                <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{description}')?'has-error':''}">
                    <textarea class="form-control" rows="5" th:field="*{description}"></textarea>
                    <label style="color: red;" th:if="${#fields.hasErrors('*{description}')}">Proszę podać opis (min.5
                        znakow, maks. 65535) </label>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <input th:field="*{id}" type="hidden"/>
                <input id="userId" name="userId" th:value="${session.currentUser.id}" type="hidden"/>
                <input class="form-control btn btn-primary" type="submit" value="Zapisz"/>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-default" href="/">Anuluj</a>
            </div>
        </div>
    </form>
</section>
</body>
</html>