<!DOCTYPE html>
<html layout:decorator="layout" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${offer.title}">Szczegóły oferty</title>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>
<body>
<section layout:fragment="content">
    <h1 th:text="${offer.title}"></h1>
    <h2>
        Cena:
        <span th:text="${#numbers.formatDecimal(offer.price, 0, 'WHITESPACE', 0,'COMMA')}"></span>
        zł
    </h2>

    <table class="table" th:object="${offer}">
        <tr>
            <th>Marka:</th>
            <td th:text="*{manufacturer.name}"></td>
            <th>Pochodzenie marki:</th>
            <td th:text="*{manufacturer.origin}"></td>
        </tr>

        <tr>
            <th th:if="*{!model.getIs_shoe()}">Rozmiar:</th>
            <td th:if="*{!model.getIs_shoe()}" th:text="*{sizing.size}" ></td>
            <div th:if="*{model.getIs_shoe()}">
                <th>rozmiar US:</th>
                <td th:text="*{shoeSizing.size_us}"></td>
                <th>rozmiar UK:</th>
                <td th:text="*{shoeSizing.size_uk}"></td>
                <th>rozmiar EU:</th>
                <td th:text="*{shoeSizing.size_eu}"></td>
                <th>rozmiar CM:</th>
                <td th:text="*{shoeSizing.size_cm}"></td>
                <th>rozmiar BR:</th>
                <td th:text="*{shoeSizing.size_br}"></td>
                <th>rozmiar CN:</th>
                <td th:text="*{shoeSizing.size_jp}"></td>
            </div>
        </tr>

        <tr>
            <th>Model:</th>
            <td th:text="*{model.name}"></td>
            <th>Kolor:</th>
            <td th:text="*{colour}"></td>
            <th>Cena retailowa (w dniu premiery):</th>
            <td th:text="*{retail_price}"></td>
            <th>Krój:</th>
            <td th:text="*{cut}"></td>
            <th>Płeć:</th>
            <td th:text="*{model.gender}"></td>
        </tr>

        <tr>
            <th>Data dodania:</th>
            <td th:text="*{dateTime}"></td>
            <th>Stan przedmiotu:</th>
            <td th:text="*{condition}"></td>
            <th>Rok zakupu:</th>
            <td th:text="*{year}"></td>
        </tr>

    </table>
    <div class="well" th:text="${offer.description}">
    </div>

    <span th:if="${session.currentUser!=null}">
        <div th:if="${session.currentUser.id==offer.userId}">
            <a class="btn btn-primary" th:href="|/editoffer/${offer.id}|">Edytuj ogłoszenie</a>
            <a class="btn btn-danger" th:href="|/deleteoffer/${offer.id}|">Usuń ogłoszenie</a>
        </div>
    </span>
</section>
</body>
</html>