<!DOCTYPE html>
<html layout:decorator="layout" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${header}"></title>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <script type="text/javascript" src="js/formScript.js"></script>
</head>
<body>
<section layout:fragment="content">
    <h1>Nowe ogłoszenie</h1>
    <form class="form-horizontal" method="POST" th:action="${action}" th:object="${offer}">
        <div class="form-group">
            <label class="col-sm-2 control-label">Tytuł:</label>
            <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{title}')?'has-error':''}">
                <input class="form-control" th:field="*{title}" type="text"/>
                <label style="color: red;" th:if="${#fields.hasErrors('*{year}')}">Proszę podać tytuł (min. 5 znakow,
                    maks. 255)</label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Kolor:</label>
            <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{colour}')?'has-error':''}">
                <input class="form-control" th:field="*{colour}" type="text"/>
                <label style="color: red;" th:if="${#fields.hasErrors('*{colour}')}">Proszę podać kolor (max 30 znaków)</label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Płeć:</label>
            <div class="col-sm-4">
                <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{gender}')?'has-error':''}">
                    <select class="form-control" th:field="*{gender}">
                        <option value="Kobieta">Kobieta</option>
                        <option value="Mężczyzna">Mężczyzna</option>
                    </select>
                    <label style="color: red;" th:if="${#fields.hasErrors('*{gender}')}">Proszę podać poprawną płeć</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Krój:</label>
            <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{cut}')?'has-error':''}">
                <input class="form-control" th:field="*{cut}" type="text"/>
                <label style="color: red;" th:if="${#fields.hasErrors('*{cut}')}">Proszę podać krój (max 30 znaków)</label>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Rok zakupu:</label>
            <div class="col-sm-4">
                <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{year}')?'has-error':''}">
                    <input class="form-control" th:field="*{year}" type="number"/>
                    <label style="color: red;" th:if="${#fields.hasErrors('*{year}')}">Proszę podać poprawny rok (min.
                        2000)</label>
                </div>
            </div>
            <label class="col-sm-2 control-label">Stan:</label>
            <div class="col-sm-4">
                <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{condition}')?'has-error':''}">
                    <select class="form-control" th:field="*{condition}">
                        <option value="doskonały">doskonały</option>
                        <option value="bardzo dobry">bardzo dobry</option>
                        <option value="dobry">dobry</option>
                        <option value="poprawny">poprawny</option>
                    </select>
                    <label style="color: red;" th:if="${#fields.hasErrors('*{condition}')}">Proszę podać poprawny
                        stan</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Typ:</label>
            <div class="col-sm-4">
                <select id="itemModelSelect" class="form-control" th:field="*{model.id}" onchange="changeSizeType();">
                    <option th:each="cm : ${itemModels}" th:text="${cm.name}"
                            th:value="${cm.id}" th:attr="data-is_shoe=${cm.is_shoe}">
                    </option>
                </select>
            </div>
            <label class="col-sm-2 control-label">Cena:</label>
            <div class="col-sm-4">
                <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{price}')?'has-error':''}">
                    <input class="form-control" th:field="*{price}" type="number"/>
                    <label style="color: red;" th:if="${#fields.hasErrors('*{price}')}">Proszę podać poprawną cenę</label>
                </div>
            </div>
        </div>
<!--        <div class="form-group">-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" th:field="*{model.is_shoe}" type="radio" name="isShoeRadios" id="shoeRadio" value=true checked>-->
<!--                <label class="form-check-label" for="shoeRadio">-->
<!--                    But:-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" th:field="*{model.is_shoe}" type="radio" name="isShoeRadios" id="otherClothRadio" value=false>-->
<!--                <label class="form-check-label" for="otherClothRadio">-->
<!--                    Inna rzecz:-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
        <div class="form-group">
            <span id="otherSize">
                <label class="col-sm-2 control-label">Rozmiar:</label>
                <div class="col-sm-4">
                <select class="form-control" th:field="*{sizing.id}">
                    <option th:each="cm : ${sizingTypes}" th:text="${cm.size}"
                            th:value="${cm.id}">
                    </option>
                </select>
                </div>
            </span>
            <span id="shoeSize">
                <label class="col-sm-2 control-label">Rozmiar buta:</label>
                <div class="col-sm-4">
                <select class="form-control" th:field="*{shoeSizing.id}">
                    <option th:each="cm : ${sizingTypesShoe}" th:text="${cm.size_eu}"
                            th:value="${cm.id}">
                    </option>
                </select>
                </div>
            </span>
            <label class="col-sm-2 control-label">Producent:</label>
            <div class="col-sm-4">
                <select class="form-control" th:field="*{manufacturer.id}">
                    <option th:each="cm : ${itemManufacturers}" th:text="${cm.name}"
                            th:value="${cm.id}">
                    </option>
                </select>
            </div>
        </div>
        <script>changeSizeType();</script>

        <div class="form-group">
            <label class="col-sm-2 control-label">Cena detaliczna (w dniu zakupu):</label>
            <div class="col-sm-10">
                <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{retail_price}')?'has-error':''}">
                    <input class="form-control" th:field="*{retail_price}" type="number"/>
                    <label style="color: red;" th:if="${#fields.hasErrors('*{retail_price}')}">Proszę podać poprawną cenę detaliczną</label>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Opis:</label>
            <div class="col-sm-10">
                <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{description}')?'has-error':''}">
                    <textarea class="form-control" rows="5" th:field="*{description}"></textarea>
                    <label style="color: red;" th:if="${#fields.hasErrors('*{description}')}">Proszę podać opis (min.5
                        znakow, maks. 65535) </label>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <input th:field="*{id}" type="hidden"/>
                <input id="userId" name="userId" th:value="${session.currentUser.id}" type="hidden"/>
                <input class="form-control btn btn-primary" type="submit" value="Zapisz"/>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-default" href="/">Anuluj</a>
            </div>
        </div>


    </form>
</section>
</body>
</html>